.miNavBar {
    background-color: rgb(167, 192, 174);
}

#productos {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.tarjetaProducto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 3px outset grey;
    border-radius: 10px;
    margin: 10px;
    width: 400px;
    height: 580px;
}

.image {
   width: 300px;
   height: 380px;
}

footer {
    margin-top: 20px;
    height: 200px;
    background-color: rgb(124, 145, 130);
}

#carrito {
    height: 400px;
    width: 90%;
    border: 2px solid black;
    border-radius: 20px;
    margin: 30px;
    padding: 20px;
    overflow-y: scroll;
}

#carrito div{
    display: flex;
    justify-content: space-between;
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}